{% extends "habilitations_app/base.html" %}
{% block title %}Invitation invalide{% endblock %}
{% block page_content_guest %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="alert alert-danger">
        <h4 class="alert-heading">Lien d'invitation invalide ou expiré</h4>
        <p>Cette invitation n'est plus valable. Merci de contacter votre organisme de formation pour obtenir un nouveau lien.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}